.todos__item {
  @include flex;
  padding: 10px 20px;
  border-radius: 10px;
  width: 90%;
  background-color: $primary-color;
  .todo {
    @include flex;
    min-width: 22%;
    max-width: 80%;
    gap: 10px;
  }
}

@media (max-width: 450px) {
  .todos__item {
    width: 100%;
    display: block;

    .todo {
      justify-content: start;
      max-width: 100%;
    }
  }
}
