h1 {
  font-size: $font-size-large;
  color: $primary-color;
}

.todo-text {
  font-size: $font-size-large;
}

.todo-date {
  font-size: $font-size-small;
}

@media (max-width: 700px) {
  .todo-text {
    font-size: $font-size-tablet;
  }

  .todo-date {
    font-size: $font-size-table-small;
  }
}

@media (max-width: 450px) {
  .todo-text {
    font-size: $font-size-mobile;
  }

  .todo-date {
    font-size: $font-size-mobile-small;
  }
}
