$primary-color: #12372a;
$secondary-color: #adbc9f;
$third-color: #436850;

$background-color: #fbfada;

$font-size-large: 40px;
$font-size-medium: 25px;
$font-size-small: 18px;

$font-size-tablet: 30px;
$font-size-table-small: 15px;

$font-size-mobile: 30px;
$font-size-mobile-small: 12px;
